<div class="home-page">
  <div class="nav-bar">
    <div class="nav-links">
      <a href="/about">About</a>
      <a href="/media">Media</a>
      <a href="/contact">Contact</a>
    </div>

    <%= link_to root_path, class: "main-title" do %>
      <h1>Alejandro Contreras</h1>
    <% end %>

    <div class="social-icons">
      <a href="https://instagram.com/aleniconve" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/alejandro-contreras-vergara/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.imdb.com/name/nm9080950/?ref_=nv_sr_srsg_5_tt_0_nm_8_in_0_q_alejandro%2520contreras" target="_blank"><i class="fab fa-imdb"></i></a>
      <a href="https://github.com/aleniconve" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>

</div>
