<div id="about" class="about-grid">
  <div class="reveal-container from-left" data-controller="reveal">
    <%= image_tag "Ale3.jpg", class: "reveal-img" %>
  </div>

  <div class="reveal-container from-right" data-controller="reveal">
    <%= image_tag "Ale2.jpg", class: "reveal-img" %>
  </div>

  <div class="reveal-container from-left" data-controller="reveal">
    <%= image_tag "Fauno.jpg", class: "reveal-img" %>
  </div>

  <div class="reveal-container from-right" data-controller="reveal">
    <%= image_tag "Ale1.jpg", class: "reveal-img" %>
  </div>
</div>
