<div id="about" class="section">
  <div class="banner">
      <div class="banner-text">
        <h1 class="main-title">Actor</h1>
      </div>
      <div class="banner-image">
        <%= image_tag "Alejandro_Contreras_Portrait", class: "portrait", alt: "Portrait of Alejandro" %>
        <%= image_tag "Copia de Alejandro_Contreras_PortraitB&W", class: "portrait hide-on-mobile", alt: "Portrait of Alejandro" %>
      </div>
    </div>
</div>
